.side-chat
  .side-chat__head
    .side-chat__head__box
      .side-chat__head__box__name
        = current_user.name
      .side-chat__head__box__menu
        .edit-btn
          = link_to new_group_path do
            = icon('fa', 'edit', class:"edit-btn")
        .cog-btn
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: "cog-btn")
  .side-chat__groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
  

